{% extends '__base__.html' %}
{% load staticfiles %}
{% block content-wrapper %}

 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            资源概览
            <small>Version 1.0</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 仪表板</a></li>
            <li class="active">资源概览</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">          

          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">系统概况</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-8">
                      <p class="text-center">
                        <strong>系统负载</strong>
                      </p>
                      <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="salesChart" height="180"></canvas>
                      </div><!-- /.chart-responsive -->
                    
                    </div><!-- /.col --> 
                     <div class="col-md-4">
                      <p class="text-center">
                        <strong>统计信息</strong>
                      </p>
                      <div class="progress-group">
                        <span class="progress-text">存储</span>
                        <span class="progress-number"><b>60</b>/100</span>
                        <div class="progress sm">
                          <div class="progress-bar progress-bar-aqua" style="width: 60%"></div>
                        </div>
                      </div><!-- /.progress-group -->
                      <div class="progress-group">
                        <span class="progress-text">输入输出</span>
                        <span class="progress-number"><b>80</b>/100</span>
                        <div class="progress sm">
                          <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                        </div>
                      </div><!-- /.progress-group -->
                      <div class="progress-group">
                        <span class="progress-text">计算资源</span>
                        <span class="progress-number"><b>50</b>/100</span>
                        <div class="progress sm">
                          <div class="progress-bar progress-bar-green" style="width: 50%"></div>
                        </div>
                      </div><!-- /.progress-group -->
                      <div class="progress-group">
                        <span class="progress-text">网络</span>
                        <span class="progress-number"><b>70</b>/100</span>
                        <div class="progress sm">
                          <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                        </div>
                      </div><!-- /.progress-group -->
                    </div><!-- /.col --> 
                  </div><!-- /.row -->
                </div><!-- ./box-body -->
                
                <div class="box-footer">
    
                </div><!-- /.box-footer -->
                
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->





          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
              <!-- TABLE: LATEST ORDERS -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">虚拟机状态</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>编号</th>
                          <th>操作系统</th>
                          <th>状态</th>
                          <th>近期状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td>Windows xp</td>
                          <td><span class="label label-success">运行</span></td>
                          <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                        </tr>
                        
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>Windows 8</td>
                          <td><span class="label label-warning">关闭</span></td>
                          <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                        </tr>
                        
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1849</a></td>
                          <td>Windows 8</td>
                          <td><span class="label label-success">运行</span></td>
                          <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,-90,70,61,-83,68</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>Windows 8</td>
                          <td><span class="label label-warning">暂停</span></td>
                          <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>Ubuntu 14.10 </td>
                          <td><span class="label label-danger">休眠</span></td>
                          <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>CentOS 7.1 </td>
                          <td><span class="label label-info">暂停</span></td>
                          <td><div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>Debian 7.0.0</td>
                          <td><span class="label label-warning">关闭</span></td>
                          <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
 
                  <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">查看全部</a>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-4">
              <div class="box box-primary">
              
                <div class="box-header with-border">
                  <h3 class="box-title">常用资源</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <ul class="products-list product-list-in-box">
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static "img/default-50x50.gif" %}" alt="Product Image"/>
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Windows 8.1 <span class="label label-warning pull-right">关闭</span></a>
                        <span class="product-description">
                          详细
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static "img/default-50x50.gif" %}" alt="Product Image"/>
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Debian 7.0.0 <span class="label label-info pull-right">暂停</span></a>
                        <span class="product-description">
                          详细
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static "img/default-50x50.gif" %}" alt="Product Image"/>
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">CentOS 7.1 <span class="label label-danger pull-right">休眠</span></a>
                        <span class="product-description">
                          详细
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="{% static "img/default-50x50.gif" %}" alt="Product Image"/>
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Ubuntu 14.10 <span class="label label-success pull-right">运行</span></a>
                        <span class="product-description">
                          详细
                        </span>
                      </div>
                    </li><!-- /.item -->
                    
                  </ul>
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">查看全部</a>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
             </div><!-- /.col -->
            </div><!-- /.row -->
            
            <div class="row">
            <div class="col-md-8">
                          <!-- TABLE: Recently Alerts -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">警报</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>时间</th>
                          <th>警报类型</th>
                          <th>资源名</th>
                          <th>状态</th>
                          <th>查看</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          
                          <td>Warning</td>
                          <td>Windows xp</td>
                          <td>处理中</td>
                          <td>...</td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          
                          <td>info</td>
                          <td>Windows 8</td>
                          <td>已读</td>
                          <td>...</td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          
                          <td>urgent</td>
                          <td>Ubuntu 14.10 </td>
                          <td>失败</td>
                          <td>...</td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          
                          <td>info</td>
                          <td>CentOS 7.1 </td>
                          <td>未读</td>
                          <td>...</td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          
                          <td>urgent</td>
                          <td>Debian 7.0.0</td>
                          <td>失败</td>
                          <td>...</td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                  <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">查看全部 </a>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
              
            </div><!-- /.col -->
            
            

            <div class="col-md-4">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">日志</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>时间</th>
                          <th>资源ID</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td><span class="label label-danger">删除</span></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td><span class="label label-info">添加</span></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td><span class="label label-success">暂停</span></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td><span class="label label-danger">销毁</span></td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">2015-03-22 23:00:00</a></td>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td><span class="label label-warning">重启</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                  <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">查看全部 </a>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}

{% block script %}
    <script src="{% static "js/pages/dashboard.js" %}"  type="text/javascript"></script>
{% endblock %}