{% extends '__logreg__.html' %}
{% load staticfiles %}
{% block box %}
<div class="login-box">
      <div class="login-logo">
        <a href="#"><b>实时资源监控系统</b></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <form action="/" method="post">
          <div class="form-group has-feedback">
            <input type="text" name="username" id="username" value="" class="form-control"  placeholder="Email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="password" id="password" value="" class="form-control" placeholder="Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> 记住密码
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">登陆</button>
            </div><!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center">
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"></i> 忘记密码</a>
          <a href="register" class="btn btn-block btn-social btn-google-plus btn-flat"></i> 注册新用户</a>
        </div><!-- /.social-auth-links -->

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{% endblock %}