{% extends '__base__.html' %}
{% load staticfiles %}
{% block content-wrapper %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            集群管理
            <small>version1.0</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">集群管理</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
           <div class="row">
                <div class="col-md-12">
<div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">虚拟机列表</h3>
                  <div class="pull-right">
                  <input id="status_vm" type="checkbox" checked class="poweredOn">
                  <label> 在线 </label>
                  <input id="status_vm" type="checkbox" class="poweredOff">
                  <label> 关闭 </label>
                  <input id="status_vm" type="checkbox" class="suspended">
                  <label> 挂起 </label>
                  </div>
                </div><!-- /.box-header -->
                <div style="text-align:right">
                
                </div>
                <div class="box-body on_line">
                  <div class="table-responsive">
                    <table id="vmlist" class="table no-margin">
                      <thead>
                        <tr>
                          <th>uuid</th>
                          <th>名称</th>
                          <th>操作系统</th>
                          <th>状态</th>
                          <th>主机</th>
                        </tr>
                      </thead>
                      <tbody>
                      <!--
                      {% for line in vm_list %}
                        <tr>
                          
                          <td ><input id="id_on_line" type="checkbox"/>  <a href="pages/examples/invoice.html">{{line.uuid}}</a></td>
                          <td>{{line.name}}</td>
                          <td>{{line.os}}</td>
                          <td>{{line.status}}</td>
                        </tr>
                      {% endfor %}
                      -->
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                 
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                  <div id="manage1" style="display:none" >
                   <button id="control_vm" name="poweron" class="btn btn-sm btn-default btn-flat pull-left">开启</button>
                   <button id="control_vm" name="poweroff" class="btn btn-sm btn-default btn-flat pull-left">关闭</button>
                   <button id="control_vm" name="suspend" class="btn btn-sm btn-default btn-flat pull-left">挂起</button>
                   <button id="control_vm" name="reboot" class="btn btn-sm btn-default btn-flat pull-left">重启</button>
                  </div>
                  <button id="bt_on_line" class="btn btn-sm btn-default btn-flat pull-right">编辑</button>
                  <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">查看全部</a>
                </div><!-- /.box-footer -->
              </div><!-- /.box --> 
             </div><!-- /.col -->
            </div><!--row-->
        </section><!-- /.content -->
        
        

     </div><!-- /.content-wrapper -->
      {% endblock %}
      {% block script %}
      <script src="{% static "js/pages/manage.js" %}"></script>
      
			{% endblock %}
 